.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: #1d1421;
  &__copy {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
}
